In [57]:
import pandas as pd

In [58]:
df=pd.read_csv("BF_train.csv")

BLACK FRIDAY SALES : SALES DURING BLACK FRIDAY OFFERS 

DATASET : 55,000 OBSERVATIONS BASED ON 12 DIMENSIONS

OBJECTIVE : 

TO PREDICT THE PURCHASE DONE BY AN INDIVIDUAL

TO PREDICT THE PRODUCT CATEGORY PURCHASED BY AN INDIVIDUAL

In [59]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [60]:
df.shape

(550068, 12)

In [61]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

# We can see that few dimensions which are of object types need to be converted into numeric/continuous.
 
-> GENDER, AGE, CITY_CATEGORY , STAY_IN_CURRENT_CITY_YEARS

# DATA PREPARATION

In [63]:
dummy=pd.get_dummies(df["Gender"])
dummy.head()

   F  M
0  1  0
1  1  0
2  1  0
3  1  0
4  0  1

In [64]:
dummy1=pd.get_dummies(df["City_Category"])
dummy1.head()

   A  B  C
0  1  0  0
1  1  0  0
2  1  0  0
3  1  0  0
4  0  0  1

In [65]:
df=pd.concat([df,dummy],axis=1)
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,1,0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,1,0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,1,0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,1,0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,0,1

In [66]:
df=pd.concat([df,dummy1],axis=1)
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M,A,B,C
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,1,0,1,0,0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,1,0,1,0,0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,1,0,1,0,0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,1,0,1,0,0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,0,1,0,0,1

In [67]:
df=df.drop(["Gender","City_Category"],axis=1)
df.head()

,User_ID,Product_ID,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M,A,B,C
0,1000001,P00069042,0-17,10,2,0,3,NaN,NaN,8370,1,0,1,0,0
1,1000001,P00248942,0-17,10,2,0,1,6.0,14.0,15200,1,0,1,0,0
2,1000001,P00087842,0-17,10,2,0,12,NaN,NaN,1422,1,0,1,0,0
3,1000001,P00085442,0-17,10,2,0,12,14.0,NaN,1057,1,0,1,0,0
4,1000002,P00285442,55+,16,4+,0,8,NaN,NaN,7969,0,1,0,0,1

In [68]:
df.dtypes

User_ID                         int64
Product_ID                     object
Age                            object
Occupation                      int64
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
F                               uint8
M                               uint8
A                               uint8
B                               uint8
C                               uint8
dtype: object

In [69]:
df["Age"].value_counts()

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64

In [70]:
dummy3=pd.get_dummies(df["Age"])
dummy3.head()

   0-17  18-25  26-35  36-45  46-50  51-55  55+
0     1      0      0      0      0      0    0
1     1      0      0      0      0      0    0
2     1      0      0      0      0      0    0
3     1      0      0      0      0      0    0
4     0      0      0      0      0      0    1

In [71]:
df=pd.concat([df,dummy3],axis=1)

In [72]:
df=df.drop("Age",axis=1)

In [73]:
df.head()

,User_ID,Product_ID,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,...,A,B,C,0-17,18-25,26-35,36-45,46-50,51-55,55+
0,1000001,P00069042,10,2,0,3,NaN,NaN,8370,1,...,1,0,0,1,0,0,0,0,0,0
1,1000001,P00248942,10,2,0,1,6.0,14.0,15200,1,...,1,0,0,1,0,0,0,0,0,0
2,1000001,P00087842,10,2,0,12,NaN,NaN,1422,1,...,1,0,0,1,0,0,0,0,0,0
3,1000001,P00085442,10,2,0,12,14.0,NaN,1057,1,...,1,0,0,1,0,0,0,0,0,0
4,1000002,P00285442,16,4+,0,8,NaN,NaN,7969,0,...,0,0,1,0,0,0,0,0,0,1

In [74]:
df["Stay_In_Current_City_Years"].value_counts()

1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64

In [75]:
df["Stay_In_Current_City_Years"]=df["Stay_In_Current_City_Years"].replace("4+",4)

In [76]:
df["Stay_In_Current_City_Years"].value_counts()

1    193821
2    101838
3     95285
4     84726
0     74398
Name: Stay_In_Current_City_Years, dtype: int64

In [77]:
df["Stay_In_Current_City_Years"]=pd.to_numeric(df["Stay_In_Current_City_Years"])

In [78]:
df.head()

,User_ID,Product_ID,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,...,A,B,C,0-17,18-25,26-35,36-45,46-50,51-55,55+
0,1000001,P00069042,10,2,0,3,NaN,NaN,8370,1,...,1,0,0,1,0,0,0,0,0,0
1,1000001,P00248942,10,2,0,1,6.0,14.0,15200,1,...,1,0,0,1,0,0,0,0,0,0
2,1000001,P00087842,10,2,0,12,NaN,NaN,1422,1,...,1,0,0,1,0,0,0,0,0,0
3,1000001,P00085442,10,2,0,12,14.0,NaN,1057,1,...,1,0,0,1,0,0,0,0,0,0
4,1000002,P00285442,16,4,0,8,NaN,NaN,7969,0,...,0,0,1,0,0,0,0,0,0,1

In [79]:
import matplotlib.pyplot as plt

In [80]:
df.describe()

,User_ID,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M,A,B,C,0-17,18-25,26-35,36-45,46-50,51-55,55+
count,5.500680e+05,550068.000000,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000,550068.000000
mean,1.003029e+06,8.076707,1.858418,0.409653,5.404270,9.842329,12.668243,9263.968713,0.246895,0.753105,0.268549,0.420263,0.311189,0.027455,0.181178,0.399200,0.199999,0.083082,0.069993,0.039093
std,1.727592e+03,6.522660,1.289443,0.491770,3.936211,5.086590,4.125338,5023.065394,0.431205,0.431205,0.443205,0.493601,0.462980,0.163405,0.385166,0.489734,0.400000,0.276007,0.255136,0.193817
min,1.000001e+06,0.000000,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.001516e+06,2.000000,1.000000,0.000000,1.000000,5.000000,9.000000,5823.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.003077e+06,7.000000,2.000000,0.000000,5.000000,9.000000,14.000000,8047.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.004478e+06,14.000000,3.000000,1.000000,8.000000,15.000000,16.000000,12054.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.006040e+06,20.000000,4.000000,1.000000,20.000000,18.000000,18.000000,23961.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [81]:
df.columns

Index(['User_ID', 'Product_ID', 'Occupation', 'Stay_In_Current_City_Years',
       'Marital_Status', 'Product_Category_1', 'Product_Category_2',
       'Product_Category_3', 'Purchase', 'F', 'M', 'A', 'B', 'C', '0-17',
       '18-25', '26-35', '36-45', '46-50', '51-55', '55+'],
      dtype='object')

# DROPPING USER_ID, PRODUCT_ID AS THEY ARE IDENTIFIER VARIABLES AND THEY DO NOT HAVE ANY IMPACT ON THE PURCHASE PREDICTION

In [82]:
df=df.drop(["User_ID","Product_ID"],axis=1)

In [83]:
df.columns

Index(['Occupation', 'Stay_In_Current_City_Years', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Purchase', 'F', 'M', 'A', 'B', 'C', '0-17', '18-25', '26-35', '36-45',
       '46-50', '51-55', '55+'],
      dtype='object')

# DATA CLEANING

In [84]:
df.isnull().sum()

Occupation                         0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
F                                  0
M                                  0
A                                  0
B                                  0
C                                  0
0-17                               0
18-25                              0
26-35                              0
36-45                              0
46-50                              0
51-55                              0
55+                                0
dtype: int64

Product_Category_2 AND Product_Category_3 have null values.Many machine learning models are not capable of handling null values.So there is a need for null value imputation.

MOST SIMPLEST TECHNIQUES FOR NULL VALUE IMPUTATION

-> IDENTIFYING THE PERCENTAGE OF NULL VALUES IN A COLUMN(DIMENSION) ,
    IF MORE THAN 50%, THAT DIMENSION CONTRIBUTES VERY LESS INFORMATION TO THE DATASET.
    SO DROP THAT COLUMN
    OTHERWISE , REPLACE NULL VALUE WITH MEANINGFUL VALUES

-> REPLACING NULL VALUES WITH 0

-> REPLACING NULL VALUES WITH MEAN/MEDIAN

# GENRALLY , FOR A PRODUCT CATEGORY , IT MAKES SENSE TO ASSIGN 0 TO NULL VALUES

# BUILT REGRESSION MODELS WITH THE ABOVE MENTIONED NULL VALUE IMPUTATION TECHNIQUES AND FOUND THAT REPLACING NULL VALUES WITH 0 GIVES THE BEST ACCURACY.

In [87]:
df["Product_Category_2"]=df["Product_Category_2"].fillna(0)

In [88]:
df["Product_Category_3"]=df["Product_Category_3"].fillna(0)

In [89]:
df.head()

,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,F,M,A,B,C,0-17,18-25,26-35,36-45,46-50,51-55,55+
0,10,2,0,3,0.0,0.0,8370,1,0,1,0,0,1,0,0,0,0,0,0
1,10,2,0,1,6.0,14.0,15200,1,0,1,0,0,1,0,0,0,0,0,0
2,10,2,0,12,0.0,0.0,1422,1,0,1,0,0,1,0,0,0,0,0,0
3,10,2,0,12,14.0,0.0,1057,1,0,1,0,0,1,0,0,0,0,0,0
4,16,4,0,8,0.0,0.0,7969,0,1,0,0,1,0,0,0,0,0,0,1

In [90]:
df.isnull().sum()

Occupation                    0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
F                             0
M                             0
A                             0
B                             0
C                             0
0-17                          0
18-25                         0
26-35                         0
36-45                         0
46-50                         0
51-55                         0
55+                           0
dtype: int64

# MODELLING

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [92]:
x=df.drop("Purchase",axis=1)
y=df["Purchase"]

In [93]:
x.columns

Index(['Occupation', 'Stay_In_Current_City_Years', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'F',
       'M', 'A', 'B', 'C', '0-17', '18-25', '26-35', '36-45', '46-50', '51-55',
       '55+'],
      dtype='object')

In [94]:
y.shape

(550068,)

In [95]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [96]:
lm=LinearRegression()

In [97]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [98]:
lm.intercept_

10348.219499236235

In [99]:
list(zip(x_train.columns,lm.coef_))

[('Occupation', 6.025153114139672),
 ('Stay_In_Current_City_Years', 12.246085162298819),
 ('Marital_Status', -65.13340446991464),
 ('Product_Category_1', -349.7264521432455),
 ('Product_Category_2', 12.70980203464927),
 ('Product_Category_3', 142.1732545134695),
 ('F', -234.7524898725249),
 ('M', 234.7524898725246),
 ('A', -271.5611913913869),
 ('B', -104.57365226442174),
 ('C', 376.1348436558096),
 ('0-17', -503.5481886033821),
 ('18-25', -178.2424697421913),
 ('26-35', -4.624341042431833),
 ('36-45', 87.97187266943844),
 ('46-50', 68.11260605270137),
 ('51-55', 369.0419828608361),
 ('55+', 161.2885378050296)]

In [100]:
y_train_pred=lm.predict(x_train)
y_train_pred

array([12405.93848558, 12524.66808819,  9254.83900848, ...,
        8846.57217576,  9443.52183981,  8641.07799095])

In [101]:
y_pred=lm.predict(x_test)

In [102]:
y_pred

array([10544.13497857,  6489.76050797, 11181.16986742, ...,
        9537.12799019, 11330.4565093 ,  9369.31501608])

In [103]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
r2_train=r2_score(y_train,y_train_pred)

In [104]:
print("Mean squared error : ",mse)
print("Train_r2_score : ",r2_train)
print("Test_r2_score : ",r2)

Mean squared error :  21426627.36608349
Train_r2_score :  0.15260016337414595
Test_r2_score :  0.15289207214024592

In [105]:
from sklearn.metrics import mean_absolute_error

In [106]:
mae=mean_absolute_error(y_test,y_pred)
print("Mean Absolute error : ",mae)

Mean Absolute error :  3534.847567680434

In [107]:
import numpy as np

In [108]:
import statsmodels.api as sm

x_train_sm=x_train.astype(float)


x_train_sm=sm.add_constant(x_train_sm)

lm_1=sm.OLS(y_train.astype(float),x_train_sm).fit()

C:\Users\RAMASAMY\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [109]:
lm_1.params

const                         5236.448421
Occupation                       6.025153
Stay_In_Current_City_Years      12.246085
Marital_Status                 -65.133404
Product_Category_1            -349.726452
Product_Category_2              12.709802
Product_Category_3             142.173255
F                             2383.471721
M                             2852.976701
A                             1473.921616
B                             1640.909155
C                             2121.617651
0-17                           244.515872
18-25                          569.821590
26-35                          743.439719
36-45                          836.035933
46-50                          816.176666
51-55                         1117.106043
55+                            909.352598
dtype: float64

In [110]:
print(lm_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Purchase   R-squared:                       0.153
Model:                            OLS   Adj. R-squared:                  0.153
Method:                 Least Squares   F-statistic:                     4622.
Date:                Tue, 06 Aug 2019   Prob (F-statistic):               0.00
Time:                        22:57:41   Log-Likelihood:            -3.7956e+06
No. Observations:              385047   AIC:                         7.591e+06
Df Residuals:                  385031   BIC:                         7.591e+06
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       5236.4484     12.839    407.850      0.000    5211.284    5261.613
Occupation                     6.0252      1.160      5.195      0.000       3.752       8.298
Stay_In_Current_City_Years    12.2461      5.779      2.119      0.034       0.919      23.573
Marital_Status               -65.1334     16.137     -4.036      0.000     -96.761     -33.506
Product_Category_1          -349.7265      2.056   -170.077      0.000    -353.757    -345.696
Product_Category_2            12.7098      1.204     10.559      0.000      10.351      15.069
Product_Category_3           142.1733      1.296    109.733      0.000     139.634     144.713
F                           2383.4717     11.483    207.564      0.000    2360.965    2405.978
M                           2852.9767     10.138    281.402      0.000    2833.106    2872.848
A                           1473.9216     12.400    118.868      0.000    1449.619    1498.224
B                           1640.9092     10.790    152.082      0.000    1619.762    1662.056
C                           2121.6177     11.731    180.857      0.000    2098.625    2144.610
0-17                         244.5159     40.159      6.089      0.000     165.805     323.227
18-25                        569.8216     18.384     30.995      0.000     533.789     605.854
26-35                        743.4397     14.470     51.377      0.000     715.078     771.801
36-45                        836.0359     17.554     47.627      0.000     801.631     870.441
46-50                        816.1767     24.881     32.803      0.000     767.411     864.943
51-55                       1117.1060     26.682     41.867      0.000    1064.809    1169.403
55+                          909.3526     34.277     26.529      0.000     842.170     976.535
==============================================================================
Omnibus:                    40296.839   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            56196.820
Skew:                           0.835   Prob(JB):                         0.00
Kurtosis:                       3.845   Cond. No.                     2.42e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.29e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# FROM THE ABOVE RESULTS , WE CAN SEE THAT MSE IS VERY LARGE AND R2 SCORE SHOWS MODEL ACCURACY OF 15% WHICH IS VERY LESS.HENCE WE NEED TO TRY OTHER MODELS WHICH WILL IMPROVE R2 SCORE

# RIDGE REGRESSION

In [ ]:
#RIDGE REGRESSION

In [111]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [112]:
lambdas=np.linspace(1,100,100)

In [113]:
params={'alpha':lambdas}

In [114]:
model=Ridge(fit_intercept=True)

In [115]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring="neg_mean_absolute_error")

In [116]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [117]:
grid_search.best_estimator_

Ridge(alpha=100.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [118]:
grid_search.cv_results_

{'mean_fit_time': array([0.48999934, 0.25480061, 0.22759953, 0.23839979, 0.26360023,
        0.26760037, 0.26119747, 0.23639965, 0.23200035, 0.25400033,
        0.23879979, 0.24399979, 0.24625282, 0.23215199, 0.23120003,
        0.23199906, 0.22879915, 0.2311996 , 0.23319986, 0.23359978,
        0.23759937, 0.23479955, 0.23319988, 0.24519987, 0.23519998,
        0.23280029, 0.24160004, 0.2483994 , 0.24639986, 0.25810072,
        0.2601651 , 0.25399966, 0.24399962, 0.2379998 , 0.23760006,
        0.22600052, 0.24599867, 0.2308001 , 0.23159966, 0.23799949,
        0.2384002 , 0.24920084, 0.24440031, 0.23880029, 0.25720065,
        0.23400033, 0.25319972, 0.24599979, 0.24720047, 0.23199956,
        0.23759921, 0.23839989, 0.24959893, 0.25280018, 0.24799919,
        0.24759901, 0.24360034, 0.24640038, 0.2488009 , 0.24919918,
        0.2563997 , 0.25080004, 0.24199996, 0.25640001, 0.24639962,
        0.25079968, 0.23959954, 0.23639987, 0.25119998, 0.23999958,
        0.24320028, 0.23679976, 0.2388    , 0.23759995, 0.25400045,
        0.24360163, 0.23199925, 0.2299999 , 0.23240035, 0.23119938,
        0.23240037, 0.23599944, 0.26159899, 0.23600028, 0.23760004,
        0.23320012, 0.2319984 , 0.23480031, 0.2347996 , 0.24239993,
        0.26479967, 0.26399949, 0.26559999, 0.25880032, 0.26160023,
        0.25519989, 0.25480037, 0.25839977, 0.26119974, 0.24879999]),
 'std_fit_time': array([0.69963427, 0.02653796, 0.00520036, 0.00898031, 0.02051001,
        0.03552816, 0.01688284, 0.00847583, 0.00963316, 0.02155884,
        0.00738721, 0.0127748 , 0.00918988, 0.00589293, 0.00775642,
        0.0073755 , 0.00239935, 0.00815817, 0.0047498 , 0.00512264,
        0.00763147, 0.00693942, 0.00646242, 0.01943657, 0.00499573,
        0.00815841, 0.00861538, 0.01049945, 0.01591963, 0.00978812,
        0.01969032, 0.01400027, 0.01043045, 0.01134859, 0.01202714,
        0.00481618, 0.01120871, 0.01200642, 0.00679982, 0.00950713,
        0.00649888, 0.01649719, 0.01049912, 0.00947524, 0.03528352,
        0.00543996, 0.02016204, 0.00824649, 0.01899891, 0.0123941 ,
        0.00803969, 0.01162079, 0.01015141, 0.00976473, 0.0131454 ,
        0.0151202 , 0.0143615 , 0.01602023, 0.01657076, 0.01315169,
        0.01137779, 0.01363037, 0.01268103, 0.02321856, 0.01985536,
        0.01146137, 0.00631222, 0.00847618, 0.01607978, 0.0085791 ,
        0.01024512, 0.00614515, 0.00930413, 0.00624811, 0.01826576,
        0.01624203, 0.00438094, 0.00626121, 0.00828545, 0.00639926,
        0.00549924, 0.00737583, 0.03996669, 0.00536685, 0.00783864,
        0.00440041, 0.00357764, 0.01351312, 0.00858712, 0.01279962,
        0.01848628, 0.00400002, 0.01030789, 0.00716716, 0.01134153,
        0.00530672, 0.00507563, 0.00512299, 0.01252865, 0.01156486]),
 'mean_score_time': array([0.0116014 , 0.01280191, 0.01160097, 0.01200085, 0.01320221,
        0.01240051, 0.01280112, 0.0120018 , 0.01200283, 0.01320043,
        0.01200264, 0.01200089, 0.01318221, 0.01105845, 0.01200309,
        0.01120203, 0.01320083, 0.01200087, 0.01200187, 0.01200159,
        0.01200264, 0.01200097, 0.01240208, 0.01200137, 0.01200073,
        0.01200156, 0.01240122, 0.01200125, 0.01160192, 0.01197066,
        0.01306105, 0.01240075, 0.01160195, 0.01200216, 0.01200039,
        0.0120023 , 0.01280091, 0.01080093, 0.01120157, 0.01160104,
        0.01160102, 0.01160047, 0.01240125, 0.01240058, 0.01160059,
        0.01200068, 0.01280067, 0.0120014 , 0.01080065, 0.01160123,
        0.01280115, 0.01200159, 0.01240118, 0.01240103, 0.01280081,
        0.01280134, 0.01160092, 0.01200066, 0.01200247, 0.01280093,
        0.01240022, 0.01280158, 0.01200092, 0.01240151, 0.01280229,
        0.01160176, 0.01200082, 0.01160221, 0.01360073, 0.01160154,
        0.01360052, 0.0120024 , 0.01240187, 0.01200154, 0.01200056,
        0.01280069, 0.01280041, 0.01200252, 0.01200247, 0.01240079,
        0.01120045, 0.01200197, 0.01200116, 0.0120012 , 0.01280124,
        0.01200304, 0.0120012 , 0.01160114, 0.01200056, 0.01080217,
        0.01240029, 0.01280069, 0.0124011 , 0.01200078, 0.01280186,
        0.0120012 , 0.01320059, 0.01320119, 0.01280217, 0.0116009 ]),
 'std_score_time': array([1.20066115e-03, 1.60109008e-03, 1.20051732e-03, 2.52929991e-03,
        1.83181210e-03, 1.19984185e-03, 1.60005110e-03, 1.78915373e-03,
        3.09255642e-06, 1.83266917e-03, 2.66143916e-06, 9.36836372e-07,
        1.84553882e-03, 1.49211877e-03, 2.57050170e-06, 1.59939671e-03,
        2.56022643e-03, 1.78888482e-03, 2.01248443e-06, 1.78952524e-03,
        2.76205634e-06, 1.78835183e-03, 1.20011398e-03, 2.11158655e-06,
        1.78899246e-03, 2.09157106e-06, 1.19944647e-03, 1.55045419e-06,
        1.20020191e-03, 4.76645744e-04, 2.02076689e-03, 1.20015975e-03,
        1.19965447e-03, 2.79682371e-06, 1.01180530e-06, 2.82312163e-06,
        1.59992029e-03, 1.83396935e-03, 1.60036150e-03, 1.19990559e-03,
        1.19973893e-03, 1.19987538e-03, 2.15408854e-03, 1.20045694e-03,
        1.20063161e-03, 1.78888538e-03, 1.60003961e-03, 1.78904565e-03,
        1.83341907e-03, 1.20012998e-03, 1.59992057e-03, 1.93413169e-06,
        1.20120884e-03, 1.19990613e-03, 1.59984867e-03, 1.59958669e-03,
        2.15441559e-03, 1.41934167e-06, 1.01779883e-05, 1.60026589e-03,
        1.20001791e-03, 2.40002696e-03, 1.78877844e-03, 1.19816007e-03,
        2.39954875e-03, 1.20030324e-03, 9.26157217e-07, 1.20013832e-03,
        1.95955702e-03, 1.20070909e-03, 1.95914904e-03, 3.45345012e-06,
        1.19955024e-03, 1.78872542e-03, 1.78813902e-03, 1.60008807e-03,
        1.59927707e-03, 1.78947557e-03, 3.86796947e-06, 1.19990585e-03,
        1.60021805e-03, 1.80459399e-06, 6.59433207e-07, 1.80017869e-06,
        1.59975366e-03, 2.45049766e-06, 1.82526513e-06, 1.20017701e-03,
        1.78787247e-03, 1.83317042e-03, 1.20023104e-03, 1.60038484e-03,
        1.19956459e-03, 1.71080906e-06, 1.59986061e-03, 1.32338420e-06,
        1.83230067e-03, 1.83274206e-03, 1.59982569e-03, 1.19977835e-03]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-3519.15533167, -3519.15511574, -3519.15489983, -3519.15468395,
        -3519.15446809, -3519.15425225, -3519.15403644, -3519.15382065,
        -3519.15360488, -3519.15338914, -3519.15317342, -3519.15295772,
        -3519.15274205, -3519.1525264 , -3519.15231077, -3519.15209517,
        -3519.15187959, -3519.15166403, -3519.15144849, -3519.15123298,
        -3519.15101749, -3519.15080203, -3519.15058659, -3519.15037117,
        -3519.15015577, -3519.1499404 , -3519.14972505, -3519.14950972,
        -3519.14929442, -3519.14907914, -3519.14886388, -3519.14864865,
        -3519.14843344, -3519.14821825, -3519.14800308, -3519.14778794,
        -3519.14757282, -3519.14735773, -3519.14714265, -3519.1469276 ,
        -3519.14671258, -3519.14649757, -3519.14628259, -3519.14606763,
        -3519.1458527 , -3519.14563779, -3519.1454229 , -3519.14520803,
        -3519.14499319, -3519.14477837, -3519.14456358, -3519.1443488 ,
        -3519.14413426, -3519.14391983, -3519.14370543, -3519.14349105,
        -3519.14327669, -3519.14306235, -3519.14284804, -3519.14263375,
        -3519.14241948, -3519.14220524, -3519.14199102, -3519.14177682,
        -3519.14156264, -3519.14134849, -3519.14113436, -3519.14092026,
        -3519.14070617, -3519.14049211, -3519.14027807, -3519.14006406,
        -3519.13985006, -3519.13963609, -3519.13942215, -3519.13920822,
        -3519.13899432, -3519.13878044, -3519.13856659, -3519.13835275,
        -3519.13813894, -3519.13792516, -3519.13771139, -3519.13749788,
        -3519.13728668, -3519.1370755 , -3519.13686434, -3519.1366532 ,
        -3519.13644208, -3519.13623099, -3519.13601992, -3519.13580887,
        -3519.13559784, -3519.13538684, -3519.13517586, -3519.1349649 ,
        -3519.13475396, -3519.13454304, -3519.13433215, -3519.13412128]),
 'split1_test_score': array([-3511.58001178, -3511.57985121, -3511.57969065, -3511.5795301 ,
        -3511.57936957, -3511.57920905, -3511.57904854, -3511.57888805,
        -3511.57872756, -3511.57856709, -3511.57840663, -3511.57824619,
        -3511.57808576, -3511.57792534, -3511.57776493, -3511.57760453,
        -3511.57744415, -3511.57728378, -3511.57712342, -3511.57696308,
        -3511.57680275, -3511.57664243, -3511.57648212, -3511.57632183,
        -3511.57616155, -3511.57600128, -3511.57584102, -3511.57568078,
        -3511.57552054, -3511.57536033, -3511.57520012, -3511.57503992,
        -3511.57487974, -3511.57471957, -3511.57455942, -3511.57439927,
        -3511.57423914, -3511.57407902, -3511.57391892, -3511.57375883,
        -3511.57359874, -3511.57343868, -3511.57327862, -3511.57311858,
        -3511.57295854, -3511.57279853, -3511.57263852, -3511.57247853,
        -3511.57231883, -3511.57215929, -3511.57199975, -3511.57184028,
        -3511.57168089, -3511.57152151, -3511.57136215, -3511.5712028 ,
        -3511.57104346, -3511.57088413, -3511.57072482, -3511.57056551,
        -3511.57040622, -3511.57024695, -3511.57008768, -3511.56992843,
        -3511.56976919, -3511.56960996, -3511.56945074, -3511.56929154,
        -3511.56913235, -3511.56897317, -3511.56881401, -3511.56865485,
        -3511.56849571, -3511.56833658, -3511.56817746, -3511.56801836,
        -3511.56785927, -3511.56770019, -3511.56754112, -3511.56738207,
        -3511.56722302, -3511.56706399, -3511.56690498, -3511.56674597,
        -3511.56658698, -3511.566428  , -3511.56626903, -3511.56611007,
        -3511.56595113, -3511.5657922 , -3511.56563328, -3511.56547437,
        -3511.56531548, -3511.5651566 , -3511.56499773, -3511.56483887,
        -3511.56468002, -3511.56452119, -3511.5643624 , -3511.56420375]),
 'split2_test_score': array([-3507.67925103, -3507.67903909, -3507.6788272 , -3507.67861592,
        -3507.67840465, -3507.67819339, -3507.67798216, -3507.67777094,
        -3507.67755974, -3507.67734856, -3507.67713739, -3507.67692625,
        -3507.67671512, -3507.67650401, -3507.67629291, -3507.67608184,
        -3507.67587078, -3507.67565974, -3507.67544872, -3507.67523771,
        -3507.67502672, -3507.67481575, -3507.67460511, -3507.67439662,
        -3507.67418814, -3507.67397968, -3507.67377123, -3507.6735628 ,
        -3507.67335439, -3507.673146  , -3507.67293762, -3507.67272926,
        -3507.67252092, -3507.67231259, -3507.67210428, -3507.67189599,
        -3507.67168772, -3507.67147946, -3507.67127122, -3507.671063  ,
        -3507.67085479, -3507.6706466 , -3507.67043843, -3507.67023027,
        -3507.67002214, -3507.66981401, -3507.66960591, -3507.66939782,
        -3507.66918975, -3507.6689817 , -3507.66877366, -3507.66856564,
        -3507.66835764, -3507.66814966, -3507.66794169, -3507.66773374,
        -3507.6675258 , -3507.66731789, -3507.66710999, -3507.6669021 ,
        -3507.66669424, -3507.66648639, -3507.66627856, -3507.66607074,
        -3507.66586294, -3507.66565516, -3507.6654474 , -3507.66523965,
        -3507.66503192, -3507.66482421, -3507.66461651, -3507.66440883,
        -3507.66420117, -3507.66399352, -3507.66378589, -3507.66357828,
        -3507.66337069, -3507.66316311, -3507.66295555, -3507.662748  ,
        -3507.66254047, -3507.66233296, -3507.66212547, -3507.66191799,
        -3507.66171053, -3507.66150309, -3507.66129566, -3507.66108826,
        -3507.66088086, -3507.66067349, -3507.66046613, -3507.66025879,
        -3507.66005146, -3507.65984415, -3507.65963686, -3507.65942959,
        -3507.65922233, -3507.65901509, -3507.65880787, -3507.65860066]),
 'split3_test_score': array([-3533.60075149, -3533.60048894, -3533.60022641, -3533.59996392,
        -3533.59970146, -3533.59943903, -3533.59917663, -3533.59891426,
        -3533.59865192, -3533.59838961, -3533.59812734, -3533.59786509,
        -3533.59760287, -3533.59734068, -3533.59707853, -3533.5968164 ,
        -3533.5965543 , -3533.59629224, -3533.5960302 , -3533.5957682 ,
        -3533.59550622, -3533.59524428, -3533.59498237, -3533.59472048,
        -3533.59445863, -3533.5941968 , -3533.59393501, -3533.59367325,
        -3533.59341152, -3533.59314982, -3533.59288814, -3533.5926265 ,
        -3533.59236489, -3533.59210331, -3533.59184176, -3533.59158024,
        -3533.59131875, -3533.59105729, -3533.59079586, -3533.59053446,
        -3533.59027309, -3533.59001175, -3533.58975044, -3533.58948916,
        -3533.58922791, -3533.58896669, -3533.5887055 , -3533.58844435,
        -3533.58818322, -3533.58792212, -3533.58766105, -3533.58740001,
        -3533.587139  , -3533.58687803, -3533.58661708, -3533.58635616,
        -3533.58609527, -3533.58583441, -3533.58557359, -3533.58531279,
        -3533.58505202, -3533.58479128, -3533.58453057, -3533.5842699 ,
        -3533.58400925, -3533.58374863, -3533.58348804, -3533.58322749,
        -3533.58296696, -3533.58270646, -3533.58244599, -3533.58218555,
        -3533.58192515, -3533.58166477, -3533.58140442, -3533.5811441 ,
        -3533.58088381, -3533.58062355, -3533.58036332, -3533.58010313,
        -3533.57984296, -3533.57958282, -3533.57932271, -3533.57906263,
        -3533.57880258, -3533.57854256, -3533.57828257, -3533.57802261,
        -3533.57776268, -3533.57750278, -3533.57724291, -3533.57698307,
        -3533.57672325, -3533.57646347, -3533.57620372, -3533.575944  ,
        -3533.57568431, -3533.57542464, -3533.57516501, -3533.57490541]),
 'split4_test_score': array([-3504.6890878 , -3504.68879448, -3504.6885012 , -3504.68820796,
        -3504.68791474, -3504.68762156, -3504.68732841, -3504.68703529,
        -3504.6867422 , -3504.68644915, -3504.68615613, -3504.68586315,
        -3504.68557019, -3504.68527727, -3504.68498438, -3504.68469153,
        -3504.6843987 , -3504.68410591, -3504.68381315, -3504.68352043,
        -3504.68322773, -3504.68293507, -3504.68264244, -3504.68234985,
        -3504.68205728, -3504.68176475, -3504.68147225, -3504.68117979,
        -3504.68088736, -3504.68059495, -3504.68030259, -3504.68001025,
        -3504.67971795, -3504.67942568, -3504.67913344, -3504.67884123,
        -3504.67854906, -3504.67825692, -3504.67796481, -3504.67767273,
        -3504.67738069, -3504.67708868, -3504.6767967 , -3504.67650475,
        -3504.67621284, -3504.67592095, -3504.6756291 , -3504.67533729,
        -3504.6750455 , -3504.67475375, -3504.67446203, -3504.67417034,
        -3504.67387868, -3504.67358706, -3504.67329547, -3504.67300391,
        -3504.67271238, -3504.67242089, -3504.67212943, -3504.671838  ,
        -3504.6715466 , -3504.67125523, -3504.6709639 , -3504.6706726 ,
        -3504.67038133, -3504.67009009, -3504.66979889, -3504.66950772,
        -3504.66921658, -3504.66892547, -3504.66863439, -3504.66834335,
        -3504.66805234, -3504.66776136, -3504.66747041, -3504.6671795 ,
        -3504.66688861, -3504.66659776, -3504.66630694, -3504.66601616,
        -3504.6657254 , -3504.66543468, -3504.66514399, -3504.66485333,
        -3504.6645627 , -3504.66427211, -3504.66398155, -3504.66369102,
        -3504.66340052, -3504.66311005, -3504.66281964, -3504.66252941,
        -3504.66223921, -3504.66194904, -3504.6616589 , -3504.6613688 ,
        -3504.66107873, -3504.66078869, -3504.66049868, -3504.6602087 ]),
 'split5_test_score': array([-3548.1196557 , -3548.11939971, -3548.11914375, -3548.11888783,
        -3548.11863204, -3548.11837671, -3548.1181214 , -3548.11786614,
        -3548.11761091, -3548.11735571, -3548.11710055, -3548.11684542,
        -3548.11659032, -3548.11633526, -3548.11608023, -3548.11582524,
        -3548.11557028, -3548.11531536, -3548.11506047, -3548.11480561,
        -3548.11455079, -3548.114296  , -3548.11404125, -3548.11378653,
        -3548.11353184, -3548.11327719, -3548.11302257, -3548.11276799,
        -3548.11251344, -3548.11225892, -3548.11200487, -3548.11175093,
        -3548.11149703, -3548.11124316, -3548.11098932, -3548.11073552,
        -3548.11048175, -3548.11022801, -3548.10997431, -3548.10972064,
        -3548.10946701, -3548.10921341, -3548.10895984, -3548.10870631,
        -3548.10845281, -3548.10819935, -3548.10794592, -3548.10769252,
        -3548.10743916, -3548.10718583, -3548.10693253, -3548.10667927,
        -3548.10642604, -3548.10617285, -3548.10591969, -3548.10566656,
        -3548.10541347, -3548.10516048, -3548.1049078 , -3548.10465515,
        -3548.10440254, -3548.10414996, -3548.10389741, -3548.1036449 ,

In [119]:
ridge_model=grid_search.best_estimator_

In [120]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=100.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [122]:
list(zip(x_train.columns,ridge_model.coef_))

[('Occupation', 6.031214932114572),
 ('Stay_In_Current_City_Years', 12.253544237258035),
 ('Marital_Status', -64.55377053553971),
 ('Product_Category_1', -349.7122011772977),
 ('Product_Category_2', 12.713026844238748),
 ('Product_Category_3', 142.177130335984),
 ('F', -234.61543998374896),
 ('M', 234.61543998381129),
 ('A', -271.30520032421),
 ('B', -104.50034134700637),
 ('C', 375.80554167390784),
 ('0-17', -498.91503191051305),
 ('18-25', -178.19390616819354),
 ('26-35', -4.967399704134791),
 ('36-45', 87.54372737290326),
 ('46-50', 67.42708973289785),
 ('51-55', 367.21236598949855),
 ('55+', 159.89315468856066)]

In [125]:
ytrainpred_ridge=ridge_model.predict(x_train)

In [126]:
ytrainpred_ridge

array([12406.44100701, 12524.56294872,  9253.6490968 , ...,
        8846.42688575,  9444.31783024,  8639.47133965])

In [123]:
ypred_ridge=ridge_model.predict(x_test)

In [124]:
ypred_ridge

array([10543.75637062,  6488.21010898, 11180.59469994, ...,
        9536.7931091 , 11330.14347821,  9369.28346513])

In [127]:
mse=mean_squared_error(y_test,ypred_ridge)
r2=r2_score(y_test,ypred_ridge)
r2_train=r2_score(y_train,ytrainpred_ridge)

In [128]:
print("Mean squared error : ",mse)
print("Train_r2_score : ",r2_train)
print("Test_r2_score : ",r2)

Mean squared error :  21426644.064219255
Train_r2_score :  0.15260012623761032
Test_r2_score :  0.1528914119746052

# LASSO REGRESSION

In [129]:
#LASSO

In [130]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={"alpha":lambdas}

In [131]:
grid_search1=GridSearchCV(model,param_grid=params,cv=10,scoring="neg_mean_absolute_error")

In [132]:
grid_search1.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [133]:
lasso_model=grid_search1.best_estimator_

In [134]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=10.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [172]:
y_pred_lasso=lasso_model.predict(x_test)

In [173]:
list(zip(x_train.columns,lasso_model.coef_))

[('Occupation', 7.078529814600221),
 ('Stay_In_Current_City_Years', 7.179221726018655),
 ('Marital_Status', -0.0),
 ('Product_Category_1', -348.2157864563475),
 ('Product_Category_2', 12.816612057979835),
 ('Product_Category_3', 142.47092651712626),
 ('F', -418.2446725739206),
 ('M', 1.4968283508370915e-12),
 ('A', -135.95997791028208),
 ('B', -0.0),
 ('C', 452.5932976028868),
 ('0-17', -129.70163095893489),
 ('18-25', -124.32496857356466),
 ('26-35', -0.0),
 ('36-45', 23.955129560121108),
 ('46-50', 0.0),
 ('51-55', 194.29432461393594),
 ('55+', 0.0)]

In [177]:
mse=mean_squared_error(y_test,y_pred_lasso)
r2=r2_score(y_test,y_pred_lasso)

In [178]:
print("Mean squared error : ",mse)
print("r2_score : ",r2)

Mean squared error :  21436724.140955348
r2_score :  0.15249289321704773

# DECISION TREE REGRESSION

In [137]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=15, min_samples_leaf=100)
DT.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=15, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=100,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [138]:
ytrainpred_dt=DT.predict(x_train)

In [139]:
ytrainpred_dt

array([13554.71603053, 14781.16111111,  6920.70050761, ...,
        6196.42809365,  9309.90909091,  8406.36206897])

In [140]:
ypred_dt=DT.predict(x_test)

In [143]:
mse=mean_squared_error(y_test,ypred_dt)
r2=r2_score(y_test,ypred_dt)
r2_train=r2_score(y_train,ytrainpred_dt)

In [144]:
print("Mean squared error : ",mse)
print("Train_r2_score : ",r2_train)
print("Test_r2_score : ",r2)

Mean squared error :  8639148.244937938
Train_r2_score :  0.6639581480921937
Test_r2_score :  0.6584487682916056

# RANDOM FOREST REGRESSOR

In [160]:
from sklearn.ensemble import RandomForestRegressor

In [161]:
RF = RandomForestRegressor(max_depth=8, min_samples_leaf=150)

In [162]:
RF.fit(x_train,y_train)

C:\Users\RAMASAMY\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=8,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=150, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [163]:
ytrainpred_RF=RF.predict(x_train)

In [164]:
ytrainpred_RF

array([13477.81705605, 15092.57570492,  6367.89138194, ...,
        6291.82366965, 10171.1180483 ,  8265.61912978])

In [165]:
ypred_RF=RF.predict(x_test)

In [166]:
ypred_RF

array([12863.21342983,  1306.96795966, 15904.00990483, ...,
       10563.67610013, 10867.12287206,  6684.71339988])

In [167]:
from math import sqrt

In [168]:
mse=mean_squared_error(y_test,ypred_RF)
rmse=sqrt(mean_squared_error(y_test,ypred_RF))
r2=r2_score(y_test,ypred_RF)
r2_train=r2_score(y_train,ytrainpred_RF)

In [169]:
print("Mean squared error : ",mse)
print("Train_r2_score : ",r2_train)
print("Test_r2_score : ",r2)
print("rmse : ",rmse)

Mean squared error :  8803099.368319618
Train_r2_score :  0.6510740674500857
Test_r2_score :  0.6519669130735521
rmse :  2967.0017472727613

# FROM THE ABOVE MODELS WE CAN COME TO A CONCLUSION THAT , LINEAR REGRESSION MODEL IS NOT SUITABLE FOR THIS PREDICTION PROBLEM.DECISION TREE AND RANDOM FOREST MODELS GIVES THE BETTER ACCURACY OF 65% WITH MINIMIZED MSE. FURTHER TUNING OF THESE MODELS WITH RESPECT TO MULTI COLLINEARITY MAY RESULT IN HIGHER MODEL ACCURACY