In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv("hack_train.csv")
df2=pd.read_csv("hack_test.csv")

In [3]:
df1.head()

,ID,Year.Type,Year,Organization.Group.Code,Organization.Group,Department.Code,Department,Union.Code,Union,Job.Family.Code,...,Job.Code,Job,Employee.Identifier,Overtime,Other.Salaries,Retirement,Health.Dental,Other.Benefits,Total.Benefits,Class
0,9248,Fiscal,2017,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,2905,Senior Eligibility Worker,41351,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2
1,44541,Fiscal,2014,6,General Administration & Finance,ASR,ASR Assessor / Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",4200,...,4222,Sr Personal Property Auditor,41792,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2
2,47031,Fiscal,2014,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,2910,Social Worker,9357,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2
3,139416,Fiscal,2014,1,Public Protection,FIR,FIR Fire Department,798,"Firefighters - Miscellaneous, Local 798",H000,...,H002,Firefighter,28022,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3
4,123780,Fiscal,2013,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,790,"SEIU - Miscellaneous, Local 1021",1600,...,1224,Pr Payroll & Personnel Clerk,51052,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3

In [4]:
df1.columns

Index(['ID', 'Year.Type', 'Year', 'Organization.Group.Code',
       'Organization.Group', 'Department.Code', 'Department', 'Union.Code',
       'Union', 'Job.Family.Code', 'Job.Family', 'Job.Code', 'Job',
       'Employee.Identifier', 'Overtime', 'Other.Salaries', 'Retirement',
       'Health.Dental', 'Other.Benefits', 'Total.Benefits', 'Class'],
      dtype='object')

In [5]:
df2.head()

,ID,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,Job Code,Job,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits
0,9240,Fiscal,2015,4,Community Health,DPH,DPH Public Health,790,"SEIU - Miscellaneous, Local 1021",2400,"Lab, Pharmacy & Med Techs",2454,Clinical Pharmacist,23148,0.0,0.00,0.00,2203.32,2014.12,4217.44
1,209951,Fiscal,2016,4,Community Health,DPH,DPH Public Health,791,"SEIU - Staff and Per Diem Nurses, Local 1021",2300,Nursing,2328,Nurse Practitioner,8789,0.0,1689.53,31464.76,11872.83,9947.92,53285.51
2,29879,Fiscal,2016,5,Culture & Recreation,LIB,LIB Public Library,790,"SEIU - Miscellaneous, Local 1021",3600,Library,3610,Library Assistant,48290,0.0,932.77,8858.22,9705.96,3764.93,22329.11
3,177914,Fiscal,2015,1,Public Protection,POL,POL Police,21,"Prof & Tech Engineers - Miscellaneous, Local 21",1800,"Budget, Admn & Stats Analysis",1824,Pr Administrative Analyst,43253,0.0,0.00,23955.61,11687.19,8880.83,44523.63
4,180406,Fiscal,2015,4,Community Health,DPH,DPH Public Health,790,"SEIU - Miscellaneous, Local 1021",2900,Human Services,2930,Psychiatric Social Worker,13722,0.0,620.54,20644.61,12384.59,7491.65,40520.85

In [6]:
df2.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits'],
      dtype='object')

In [7]:
df1.columns

Index(['ID', 'Year.Type', 'Year', 'Organization.Group.Code',
       'Organization.Group', 'Department.Code', 'Department', 'Union.Code',
       'Union', 'Job.Family.Code', 'Job.Family', 'Job.Code', 'Job',
       'Employee.Identifier', 'Overtime', 'Other.Salaries', 'Retirement',
       'Health.Dental', 'Other.Benefits', 'Total.Benefits', 'Class'],
      dtype='object')

In [8]:
df1 = df1.rename(columns = {'Year.Type':'Year Type',
                            'Organization.Group.Code' : 'Organization Group Code',
                            'Organization.Group' : 'Organization Group',
                            'Department.Code' : 'Department Code',
                            'Union.Code' : 'Union Code',
                            'Job.Family.Code' : 'Job Family Code',
                            'Job.Family' : 'Job Family',
                            'Job.Code' : 'Job Code',
                            'Employee.Identifier' : 'Employee Identifier',
                            'Other.Salaries' : 'Other Salaries',
                           
                            'Other.Benefits' : 'Other Benefits',
                            })

In [9]:
df1 = df1.rename(columns ={'Health.Dental' : 'Health/Dental',
                           'Total.Benefits' : 'Total Benefits'})

In [10]:
df1.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits', 'Class'],
      dtype='object')

In [11]:
df1.shape

(149087, 21)

In [12]:
df2.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits'],
      dtype='object')

In [13]:
df2.shape

(63895, 20)

In [14]:
#we need to combine train and test for data preparation
#so both train and test sets should have same set of columns
#test set does not have interest rate- so add a column interest rate with null values
df2['Class']=np.nan

In [15]:
#once the sets are combined, we need to differentiate which is train data and which is test data
df1["data"]="train"
df2["data"]="test"

In [16]:
#assigning columns of df1(train) to df2 , coz the columns have to be same in both train and test
df2=df2[df1.columns]

In [17]:
df_new=pd.concat([df1,df2],axis=0)

In [18]:
df_new.head()

,ID,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,...,Job,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class,data
0,9248,Fiscal,2017,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,Senior Eligibility Worker,41351,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2.0,train
1,44541,Fiscal,2014,6,General Administration & Finance,ASR,ASR Assessor / Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",4200,...,Sr Personal Property Auditor,41792,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2.0,train
2,47031,Fiscal,2014,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535,"SEIU - Human Services, Local 1021",2900,...,Social Worker,9357,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2.0,train
3,139416,Fiscal,2014,1,Public Protection,FIR,FIR Fire Department,798,"Firefighters - Miscellaneous, Local 798",H000,...,Firefighter,28022,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3.0,train
4,123780,Fiscal,2013,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,790,"SEIU - Miscellaneous, Local 1021",1600,...,Pr Payroll & Personnel Clerk,51052,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3.0,train

In [19]:
df_new.tail()

,ID,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,...,Job,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class,data
63890,8069,Fiscal,2014,5,Culture & Recreation,LIB,LIB Public Library,790,"SEIU - Miscellaneous, Local 1021",3600,...,Library Page,36930,0.00,509.23,5009.17,6228.39,1667.25,12904.81,NaN,test
63891,135014,Fiscal,2013,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,790,"SEIU - Miscellaneous, Local 1021",8200,...,Parking Control Officer,40778,3383.01,581.73,10381.29,12828.16,4823.97,28033.42,NaN,test
63892,201280,Fiscal,2015,1,Public Protection,POL,POL Police,790,"SEIU - Miscellaneous, Local 1021",9200,...,Community Police Services Aide,39502,1600.51,5430.26,15582.25,12465.54,6107.96,34155.75,NaN,test
63893,116703,Fiscal,2016,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,253,"Transport Workers - Transit Operators, Local 2...",9100,...,Transit Operator,2087,14319.71,1094.05,14314.94,14022.98,6492.42,34830.34,NaN,test
63894,165642,Fiscal,2015,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,6,"Electrical Workers, Local 6",7300,...,Electrical Transit System Mech,21556,24459.31,3256.45,18839.72,12453.56,8855.23,40148.51,NaN,test

In [20]:
df_new.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits', 'Class', 'data'],
      dtype='object')

In [21]:
df_new.dtypes

ID                           int64
Year Type                   object
Year                         int64
Organization Group Code      int64
Organization Group          object
Department Code             object
Department                  object
Union Code                   int64
Union                       object
Job Family Code             object
Job Family                  object
Job Code                    object
Job                         object
Employee Identifier          int64
Overtime                   float64
Other Salaries             float64
Retirement                 float64
Health/Dental              float64
Other Benefits             float64
Total Benefits             float64
Class                      float64
data                        object
dtype: object

In [22]:
df_new['Year Type'].value_counts()

Fiscal    212982
Name: Year Type, dtype: int64

In [23]:
df_new['Organization Group Code'].value_counts()

2    67235
4    46108
1    40754
3    19594
5    19590
6    19435
7      266
Name: Organization Group Code, dtype: int64

In [24]:
df_new['Organization Group'].value_counts()

Public Works, Transportation & Commerce     67235
Community Health                            46108
Public Protection                           40754
Human Welfare & Neighborhood Development    19594
Culture & Recreation                        19590
General Administration & Finance            19435
General City Responsibilities                 266
Name: Organization Group, dtype: int64

In [25]:
df_new['Organization Group'].nunique()

7

In [26]:
df_new['Department Code'].value_counts()

DPH    46108
MTA    31007
DSS    17355
POL    16972
REC    12237
AIR     9963
FIR     8777
DPW     8246
SHF     5523
ADM     5379
PUC     4854
LIB     4840
WTR     4232
CWP     2991
CRT     2873
HHP     2131
CAT     1685
JUV     1673
DBI     1620
DAT     1593
TIS     1539
CON     1537
HRD     1528
ECD     1515
REG     1496
PRT     1488
CPC     1429
TTX     1337
FAM     1318
ASR      993
PDR      944
ADP      884
ENV      693
MYR      685
BOS      651
ECN      623
RET      571
CSS      497
WAR      471
HSS      439
AAM      414
CHF      360
UNA      266
RNT      233
ART      228
HRC      140
HOM      134
ETH      108
CFC       90
WOM       77
SCI       71
PAB       63
CSC       58
CLP       17
CII       15
LLB       11
Name: Department Code, dtype: int64

In [27]:
df_new['Department Code'].nunique()

56

In [28]:
df_new['Department'].value_counts()

DPH Public Health                 46108
MTA Municipal Transprtn Agncy     31007
HSA Human Services Agency         17355
POL Police                        16972
REC Recreation & Park Commsn      12237
AIR Airport Commission             9963
FIR Fire Department                8777
DPW GSA - Public Works             8246
SHF Sheriff                        5523
ADM Gen Svcs Agency-City Admin     5379
PUB Public Utilities Bureaus       4854
LIB Public Library                 4840
WTR Water Enterprise               4232
WWE Wastewater Enterprise          2991
CRT Superior Court                 2873
HHP Hetch Hetchy Water & Power     2131
CAT City Attorney                  1685
JUV Juvenile Probation             1673
DBI Building Inspection            1620
DAT District Attorney              1593
DT GSA - Technology                1539
CON Controller                     1537
HRD Human Resources                1528
DEM Emergency Management           1515
REG Elections                      1496
PRT Port                           1488
CPC City Planning                  1429
TTX Treasurer/Tax Collector        1337
FAM Fine Arts Museum               1318
ASR Assessor / Recorder             993
PDR Public Defender                 944
ADP Adult Probation                 884
ENV Environment                     693
MYR Mayor                           685
BOS Board Of Supervisors            651
ECN Economic & Wrkfrce Dvlpmnt      623
RET Retirement System               571
CSS Child Support Services          497
WAR War Memorial                    471
HSS Health Service System           439
AAM Asian Art Museum                414
CHF Children;Youth & Families       360
GEN General City / Unallocated      266
RNT Rent Arbitration Board          233
ART Arts Commission                 228
HRC Human Rights Commission         140
HOM HOMELESSNESS SERVICES           134
ETH Ethics Commission               108
CFC Children & Families Commsn       90
WOM Status Of Women                  77
SCI Academy Of Sciences              71
BOA Board Of Appeals - PAB           63
CSC Civil Service Commission         58
HHP CleanPowerSF                     17
CII Commty Invest & Infrstrctr       15
LLB Law Library                      11
Name: Department, dtype: int64

In [29]:
df_new['Department'].nunique()

56

In [30]:
df_new['Union'].value_counts()

SEIU - Miscellaneous, Local 1021                      60811
Prof & Tech Engineers - Miscellaneous, Local 21       27369
SEIU - Staff and Per Diem Nurses, Local 1021          16040
Police Officers' Association                          13901
Transport Workers - Transit Operators, Local 250-A    13089
                                                      ...
Port Director                                             5
Member, Board Or Commission                               5
Municipal Exec Assoc-Misc                                 5
Prof & Tech Eng, Local 21                                 4
POA                                                       2
Name: Union, Length: 77, dtype: int64

In [31]:
df_new['Union Code'].value_counts()

790    60811
21     27373
791    16040
911    13903
253    13089
       ...
220       11
353        9
969        8
604        5
302        5
Name: Union Code, Length: 69, dtype: int64

In [32]:
df_new['Job Family Code'].value_counts()

2300    21856
9100    17372
Q000    13905
7300    12440
9900    11088
        ...
WTR         5
TIS         3
SHF         3
DPHG        2
AIR0        1
Name: Job Family Code, Length: 63, dtype: int64

In [33]:
df_new['Job Family'].value_counts()

Nursing                           21856
Street Transit                    17372
Police Services                   13905
Journeyman Trade                  12440
Public Service Aide               11088
Human Services                    10838
Clerical, Secretarial & Steno      9678
Fire Services                      8352
Management                         7053
Housekeeping & Laundry             6874
Recreation                         6264
Professional Engineering           6259
Protection & Apprehension          6016
Budget, Admn & Stats Analysis      5945
Correction & Detention             5719
Information Systems                4942
Legal & Court                      4732
Payroll, Billing & Accounting      4465
Med Therapy & Auxiliary            4307
Library                            3900
Lab, Pharmacy & Med Techs          3570
Personnel                          3152
Sub-Professional Engineering       3049
SF Superior Court                  2941
Semi-Skilled & General Labor       2820
Agriculture & Horticulture         2299
Supervisory-Labor & Trade          2062
Airport Operation                  1937
Skilled Labor                      1828
Medical & Dental                   1654
Community Development              1578
Dietary & Food                     1526
Purchasing & Storekeeping          1168
Construction Inspection            1118
Appraisal & Taxation                989
Probation & Parole                  961
Energy & Environment                892
Public Health                       890
Pub Relations & Spec Assts          878
Computer Operatns & Repro Svcs      809
Hospital Administration             788
Health & Sanitation Inspection      697
Public Safety Inspection            676
Park & Zoo                          594
Revenue                             542
Construction Project Mgmt           382
Museum & Cultural Affairs           381
Administrative-DPW/PUC              223
Administrative-Labor & Trades       130
Emergency Services                   97
Property Administration              93
SF Redevelopment Agency              72
Port Operation                       68
Administrative Secretarial           47
Administrative & Mgmt (Unrep)        40
N                                    23
Y                                     3
Name: Job Family, dtype: int64

In [34]:
df_new['Job Family'].nunique()

57

In [35]:
df_new['Job Code'].value_counts()

9163    13089
P103     7663
2320     6621
H002     4249
9910     4221
        ...
119         1
1367        1
8237        1
9143        1
1167        1
Name: Job Code, Length: 1151, dtype: int64

In [36]:

df_new['Job'].value_counts()

Transit Operator                13089
Special Nurse                    7663
Registered Nurse                 6621
Firefighter                      4249
Public Service Trainee           4221
                                ...
Pianist                             1
Asst Dir Clinical Svcs 2            1
Sup Ct Admin Secretary              1
Atty For The Public Admin           1
Transitional Department Head        1
Name: Job, Length: 1157, dtype: int64

In [37]:
df_new['Year'].value_counts()

2017    45518
2016    44042
2015    43078
2014    40868
2013    39476
Name: Year, dtype: int64

In [38]:
df_new.columns

Index(['ID', 'Year Type', 'Year', 'Organization Group Code',
       'Organization Group', 'Department Code', 'Department', 'Union Code',
       'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job',
       'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement',
       'Health/Dental', 'Other Benefits', 'Total Benefits', 'Class', 'data'],
      dtype='object')

In [39]:
cat_cols = ['Department Code','Union Code','Union','Job Family Code','Job Family','Year','Job']

In [40]:
from sklearn import preprocessing

In [41]:
le = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 

df_category=  df_new[cat_cols].apply(le.fit_transform)

In [42]:
df_new=df_new.drop(['ID','Year Type','Department','Organization Group','Department Code',
                    'Union Code','Union','Job Family Code','Job Family','Year','Job','Job Code'],axis=1)

In [43]:
df_new=pd.concat([df_new,df_category],axis=1)

In [44]:
df_new.head()

,Organization Group Code,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class,data,Department Code,Union Code,Union,Job Family Code,Job Family,Year,Job
0,3,41351,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2.0,train,22,48,61,18,21,4,889
1,6,41792,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2.0,train,5,8,55,25,6,1,1015
2,3,9357,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2.0,train,22,48,61,18,21,1,965
3,1,28022,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3.0,train,28,58,18,54,17,1,445
4,2,51052,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3.0,train,37,54,62,6,34,0,787

In [45]:
df_new.shape

(212982, 17)

In [46]:
df_new.dtypes

Organization Group Code      int64
Employee Identifier          int64
Overtime                   float64
Other Salaries             float64
Retirement                 float64
Health/Dental              float64
Other Benefits             float64
Total Benefits             float64
Class                      float64
data                        object
Department Code              int32
Union Code                   int64
Union                        int32
Job Family Code              int32
Job Family                   int32
Year                         int64
Job                          int32
dtype: object

In [47]:
df_new.isnull().sum()

Organization Group Code        0
Employee Identifier            0
Overtime                       0
Other Salaries                 0
Retirement                     0
Health/Dental                  0
Other Benefits                 0
Total Benefits                 0
Class                      63895
data                           0
Department Code                0
Union Code                     0
Union                          0
Job Family Code                0
Job Family                     0
Year                           0
Job                            0
dtype: int64

In [48]:
n_df1=df_new[df_new["data"]=="train"]
del n_df1["data"]
n_df2=df_new[df_new["data"]=="test"]
n_df2.drop(["Class","data"],axis=1,inplace=True)

C:\Users\RAMASAMY\Anaconda3\lib\site-packages\pandas\core\frame.py:4097: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
n_df1.head()

,Organization Group Code,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class,Department Code,Union Code,Union,Job Family Code,Job Family,Year,Job
0,3,41351,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2.0,22,48,61,18,21,4,889
1,6,41792,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2.0,5,8,55,25,6,1,1015
2,3,9357,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2.0,22,48,61,18,21,1,965
3,1,28022,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3.0,28,58,18,54,17,1,445
4,2,51052,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3.0,37,54,62,6,34,0,787

In [50]:
n_df1['Class']=n_df1['Class'].astype('category')

C:\Users\RAMASAMY\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
n_df1.dtypes

Organization Group Code       int64
Employee Identifier           int64
Overtime                    float64
Other Salaries              float64
Retirement                  float64
Health/Dental               float64
Other Benefits              float64
Total Benefits              float64
Class                      category
Department Code               int32
Union Code                    int64
Union                         int32
Job Family Code               int32
Job Family                    int32
Year                          int64
Job                           int32
dtype: object

In [52]:
n_df1.shape

(149087, 16)

In [53]:
n_df2.head()

,Organization Group Code,Employee Identifier,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Department Code,Union Code,Union,Job Family Code,Job Family,Year,Job
0,4,23148,0.0,0.00,0.00,2203.32,2014.12,4217.44,20,54,62,13,24,2,237
1,4,8789,0.0,1689.53,31464.76,11872.83,9947.92,53285.51,20,55,63,12,32,3,690
2,5,48290,0.0,932.77,8858.22,9705.96,3764.93,22329.11,35,54,62,23,26,3,578
3,1,43253,0.0,0.00,23955.61,11687.19,8880.83,44523.63,41,8,55,8,7,2,783
4,4,13722,0.0,620.54,20644.61,12384.59,7491.65,40520.85,20,54,62,18,21,2,817

In [54]:
n_df2.shape

(63895, 15)

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import metrics

In [56]:
x=n_df1.drop('Class',axis=1)
y=n_df1['Class']

In [57]:
x.shape

(149087, 15)

In [58]:
x.columns

Index(['Organization Group Code', 'Employee Identifier', 'Overtime',
       'Other Salaries', 'Retirement', 'Health/Dental', 'Other Benefits',
       'Total Benefits', 'Department Code', 'Union Code', 'Union',
       'Job Family Code', 'Job Family', 'Year', 'Job'],
      dtype='object')

In [59]:
y.shape

(149087,)

In [60]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=0)

In [61]:
knn=KNeighborsClassifier()
RF=RandomForestClassifier(n_estimators=70,criterion='gini',random_state=0)
NB=GaussianNB()
#SVM=SVC()
DT=DecisionTreeClassifier()
abc=AdaBoostClassifier()
gbc=GradientBoostingClassifier(n_estimators=300,learning_rate=1,random_state=0)

In [62]:
all_accuracy=[]
for name, model in zip(['KNN','RandomForest','Naive Bayes','DecisonTree','Adaboost','GradientBoosting'],
                      [knn,RF,NB,DT,abc,gbc]):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    accuracy =metrics.accuracy_score(ypred,ytest)
    all_accuracy.append([name,accuracy])
    print("Accuracy of {} model : {}".format(name,accuracy))

Accuracy of KNN model : 0.9495830259127597
Accuracy of RandomForest model : 0.984550718805196
Accuracy of Naive Bayes model : 0.8749524895477004
Accuracy of DecisonTree model : 0.9768819728575581
Accuracy of Adaboost model : 0.9359447313703132
Accuracy of GradientBoosting model : 0.9832316050707627

In [ ]:
rf=RandomForestClassifier(n_estimators=100,criterion='gini')
rf.fit(x,y)

In [ ]:
ypred_rand=rf.predict(n_df2)

In [ ]:
ypred_rand

In [ ]:
result_df=pd.DataFrame({'ID':df2['ID'],'Class':ypred_rand})
result_df

In [ ]:
result_csv1 = result_df.to_csv (r'C:\Users\RAMASAMY\Desktop\result_df2.csv', index = None, header=True)